body{
    background-color: #1d1d1d;
}


h1 {
    color:green;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.altoyancho{
    width: 642px;
    height: 350px;
}
p{
    font-family: 'Roboto', sans-serif;
    color: white;
}
.img-chazelle{
    height: 420;
    width: 310;
}
h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(245, 197, 24)
    
}
