body {
    background-color: $color-body;
    p {
        color: $color-p;
        font-family: $font-p
    }
    h1 {
        color: $color-title;
        font-family: $font-t
    }
    h2{
        color: $color-h2;
        font-family: $font-t;
    }
}
.altoyancho {
    width: 642px;
    height: 350px;
} 
a{
    &:hover{
        background-color: #166014;
    }
}